<md-toolbar ng-show="!showSearch" class="md-whiteframe-1dp" >
  <div class="md-toolbar-tools">
    <div layout-align="center start" flex-gt-md="10" flex>
      <a href="#/" class="logo-lg"></a>
    </div>

    <div flex-gt-md="75" flex="none">
      <div layout="row" layout-align-gt-md="center center" layout-align="center end">
        <md-button aria-label="Search" class="md-icon-button md-padding" ng-click="showSearch = !showSearch">
          <ng-md-icon icon="search"></ng-md-icon>
        </md-button>
        <md-input-container class="md-padding" hide show-gt-md flex>
          <input ng-click="showSearch = !showSearch">
        </md-input-container>
        <md-button aria-label="Open Settings" class="md-icon-button" ng-click="showFilter = showSearch = !showFilter" >
          <ng-md-icon icon="filter_list"></ng-md-icon>
        </md-button>
      </div>
    </div>

    <div flex-gt-md="15" flex="none">
      <md-button data-ng-hide="user" aria-label="Login" class="md-icon-button" ng-click="showLogin($event)">
        <ng-md-icon icon="lock"></ng-md-icon>
        <md-tooltip>Sisene</md-tooltip>
      </md-button>
      <md-menu data-ng-show="user">
        <md-button aria-label="Open user profile" class="md-icon-button" ng-click="$mdOpenMenu($event)">
          <ng-md-icon icon="account_circle"></ng-md-icon>
        </md-button>
        <md-menu-content width="4">
          <md-menu-item>
            <md-button href="#/{{user.username}}">
              <span data-translate="MY_PROFILE"></span>
            </md-button>
          </md-menu-item>
          <md-menu-divider></md-menu-divider>
          <md-menu-item>
            <md-button>
              <a data-ng-click="logout()">
                <span data-translate="LOGOUT"></span>
              </a>
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
      <md-menu>
        <md-button aria-label="Open language menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
          <span data-ng-if="selectedLanguage === 'est'">ET</span>
          <span data-ng-if="selectedLanguage === 'rus'">RU</span>
          <span data-ng-if="selectedLanguage === 'eng'">EN</span>
        </md-button>
        <md-menu-content width="4">
          <md-menu-item data-ng-click="setLanguage('est')">
            <md-button >
              ET
            </md-button>
          </md-menu-item>
          <md-menu-divider></md-menu-divider>
          <md-menu-item data-ng-click="setLanguage('eng')">
            <md-button>
              EN
            </md-button>
          </md-menu-item>
          <md-menu-divider></md-menu-divider>
          <md-menu-item data-ng-click="setLanguage('rus')">
            <md-button>
              RU
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </div>
  </div>
</md-toolbar>

<div class="md-toolbar-expandable" ng-show="showSearch">
  <md-toolbar class="md-hue-1">
    <div layout="row" layout-align="center center">
      <div flex-gt-md="80" flex="100">
        <div class="md-toolbar-tools" layout="row" layout-align="center center">
          <md-button aria-label="Search" data-ng-click="search()" class="md-icon-button">
            <ng-md-icon icon="search"></ng-md-icon>
          </md-button>

          <md-input-container class="md-padding" flex>
            <label hidden="hidden">&nbsp;</label>
            <input data-ng-keydown="$event.which === 13 && search()" data-ng-model="searchFields.searchQuery" placeholder="{{'SEARCH' | translate}}" data-ng-disabled="detailedSearch.isVisible"  />
          </md-input-container>

          <md-button aria-label="Open Settings" class="md-icon-button" ng-click="showFilter = !showFilter" >
            <ng-md-icon icon="filter_list"></ng-md-icon>
          </md-button>
          <md-button ng-click="showSearch = showFilter = !showSearch" aria-label="Back" class="md-icon-button">
            <ng-md-icon icon="close"></ng-md-icon>
          </md-button>
        </div>
      </div>
    </div>
  </md-toolbar>

  <div class="md-toolbar-filter" id="detailedSearch" ng-show="showFilter">
   <form layout-align="center start" layout="row" layout-sm="column">
      <div flex="100" flex-gt-md="80">
        <div data-dop-detailed-search query-in="detailedSearch.queryIn" query-out="detailedSearch.queryOut"></div>
      </div>
    </form>
  </div>
</div>
