<md-toolbar ng-show="!showSearch" class="md-whiteframe-1dp" >
  <div layout-align="center start" layout="row" layout-sm="column">
    <div class="md-toolbar-tools" flex="100" flex-gt-md="80">
      <div flex="100" flex-gt-md="15" layout="row" layout-align="center center" class="logo-lg"></div>
      <md-button aria-label="Search" class="md-icon-button" ng-click="showSearch = !showSearch">
        <ng-md-icon icon="search"></ng-md-icon>
      </md-button>
      <md-input-container md-theme="input" flex>
        <label>&nbsp;</label>
        <input ng-click="showSearch = !showSearch">
      </md-input-container>
      <md-button data-ng-hide="user" aria-label="Login" class="md-icon-button" ng-click="showLogin($event)">
        <ng-md-icon icon="lock"></ng-md-icon>
        <md-tooltip>Sisene</md-tooltip>
      </md-button>
      <md-menu data-ng-show="user">
        <md-button aria-label="Open user profile" class="md-icon-button" ng-click="$mdOpenMenu($event)">
          <ng-md-icon icon="account_circle"></ng-md-icon>
        </md-button>
        <md-menu-content width="4">
          <md-menu-item>
            <md-button href="#/{{user.username}}">
              <span data-translate="MY_PROFILE"></span>
            </md-button>
          </md-menu-item>
          <md-menu-divider></md-menu-divider>
          <md-menu-item>
            <md-button>
              <a data-ng-click="logout()">
                <span data-translate="LOGOUT"></span>
              </a>
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
      <md-menu>
        <md-button aria-label="Open language menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
          <span data-ng-if="selectedLanguage === 'est'">ET</span>
          <span data-ng-if="selectedLanguage === 'rus'">RU</span>
          <span data-ng-if="selectedLanguage === 'eng'">EN</span>
        </md-button>
        <md-menu-content width="4">
          <md-menu-item data-ng-click="setLanguage('est')">
            <md-button >
              ET
            </md-button>
          </md-menu-item>
          <md-menu-divider></md-menu-divider>
          <md-menu-item data-ng-click="setLanguage('eng')">
            <md-button>
              EN
            </md-button>
          </md-menu-item>
          <md-menu-divider></md-menu-divider>
          <md-menu-item data-ng-click="setLanguage('rus')">
            <md-button>
              RU
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </div>
  </div>
</md-toolbar>

<div class="md-toolbar-expandable" ng-show="showSearch">
  <md-toolbar class="md-hue-1">
    <div layout-align="center start" layout="row" layout-sm="column">
      <div class="md-toolbar-tools" flex="100" flex-gt-md="80">
        <md-button aria-label="Search" data-ng-click="search()" class="md-icon-button">
          <ng-md-icon icon="search"></ng-md-icon>
        </md-button>
        <md-input-container md-theme="input" flex>
          <label>&nbsp;</label>
          <input data-ng-keydown="$event.which === 13 && search()" data-ng-model="searchFields.searchQuery" placeholder="{{'SEARCH' | translate}}" data-ng-disabled="detailedSearch.isVisible"  />
        </md-input-container>

        <div layout="row" layout-align="center center" flex="20" ng-click="showFilter = !showFilter" class="md-toolbar-filter-toggle">
          <md-button aria-label="Open Settings" class="md-icon-button" >
            <ng-md-icon icon="filter_list"></ng-md-icon>
          </md-button>
          <p flex>
            <small>{{showFilter ? 'Sulge' : 'Ava'}} filter</small>
          </p>
        </div>

        <md-button ng-click="showSearch = showFilter = !showSearch" aria-label="Back" class="md-icon-button">
          <ng-md-icon icon="close"></ng-md-icon>
        </md-button>
      </div>
    </div>
  </md-toolbar>

  <div class="md-toolbar-filter" id="detailedSearch" ng-show="showFilter">
    <form layout-align="center start" layout="row" layout-sm="column" class="md-padding">
      <div flex="100" flex-gt-md="80">
          <div layout="row" layout-sm="column">
            <div flex>
              <md-input-container flex>
                <label>Pealkiri</label>
                <input />
              </md-input-container>
              <md-input-container flex>
                <label>Autor</label>
                <input />
              </md-input-container>
              <md-input-container flex>
                <label>Keel</label>
                <md-select ng-model="filter.language">
                  <md-option ng-repeat="language in languages" value="{{language.abbrev}}">
                    {{language.abbrev}}
                  </md-option>
                </md-select>
              </md-input-container>
              <div layout="row">
                <md-input-container flex>
                  <label>Alates</label>
                  <md-select ng-model="filter.yearFrom" flex>
                    <md-option ng-repeat="year in filter.years" value="{{year.value}}">
                      {{year.label}}
                    </md-option>
                  </md-select>
                </md-input-container>
                <md-input-container flex>
                  <label>Kuni</label>
                  <md-select ng-model="filter.yearTo" flex>
                    <md-option ng-repeat="year in filter.years" value="{{year.value}}">
                      {{year.label}}
                    </md-option>
                  </md-select>
                </md-input-container>
              </div>

              <md-input-container flex>
                <label>Kirjeldus sisaldab</label>
                <input />
              </md-input-container>
            </div>

            <div flex>
              <md-input-container flex>
                <label>Haridustase</label>
                <md-select ng-model="filter.education">
                  <md-option ng-repeat="education in filter.educations" value="{{education.value}}">
                    {{education.label}}
                  </md-option>
                </md-select>
              </md-input-container>
              <md-input-container flex>
                <label>Ainevaldkond</label>
                <md-select ng-model="filter.area">
                  <md-option ng-repeat="area in areas" value="{{area.abbrev}}">
                    {{area.abbrev}}
                  </md-option>
                </md-select>
              </md-input-container>
              <md-input-container flex>
                <label>Teema</label>
                <md-select ng-model="filter.topic">
                  <md-option ng-repeat="topic in topics" value="{{topic.abbrev}}">
                    {{topic.abbrev}}
                  </md-option>
                </md-select>
              </md-input-container>
              <md-input-container flex>
                <label>Alateema</label>
                <md-select ng-model="filter.subtopic">
                  <md-option ng-repeat="subtopic in subtopics" value="{{subtopic.abbrev}}">
                    {{subtopic.abbrev}}
                  </md-option>
                </md-select>
              </md-input-container>
            </div>

            <div flex>
              <md-input-container flex>
                <label>Vanuserühm</label>
                <md-select ng-model="filter.ageGroup">
                  <md-option ng-repeat="ageGroup in ageGroups" value="{{ageGroup.abbrev}}">
                    {{ageGroup.abbrev}}
                  </md-option>
                </md-select>
              </md-input-container>

              <div layout="column" layout-align="end start" layout-fill>
                <md-checkbox ng-model="filter.onlyFreeLiterature" aria-label="Ainult tasuta õppevara" flex>Ainult tasuta õppevara</md-checkbox>
                <md-checkbox ng-model="filter.onlyEducationLiterature" aria-label="Ainult õppekirjandus" flex>Ainult õppekirjandus</md-checkbox>
                <md-checkbox ng-model="filter.searchFromMaterials" aria-label="Otsi materjalidest" flex>Otsi materjalidest</md-checkbox>
                <md-checkbox ng-model="filter.searchFromPortfolios" aria-label="Otsi kogumikest" flex>Otsi kogumikest</md-checkbox>
              </div>
            </div>
          </div>

        <div class="md-actions" layout="row" layout-sm="column" layout-align="end start" layout-padding>
          <md-button ng-click="clearValue()">Tühista valikud</md-button>
          <md-button class="md-primary md-button">Otsi</md-button>
        </div>
      </div>
    </form>
  </div>
</div>

<!--
<div class="collapse detailed-search" id="detailedSearch">
    <div data-dop-detailed-search query-in="detailedSearch.queryIn" query-out="detailedSearch.queryOut"></div>
</div>
-->
