@import "../../bower_components/angular-material/angular-material.scss";
@import "md-custom.scss";
// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.container {
  max-width: 90%;
}

// Overrides to the material design scss

// Getting Started md

md-list md-list-item.md-3-line .md-list-item-text p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

$gray: #eee;

md-content.md-default-theme,
body {
  background-color: $gray;
}

md-card {
  max-width: 210px;
  background-color: #fff;
  h2:first-of-type {
    margin-top: 0;
  }
}
md-toolbar {
  .md-button.md-default-theme {
    border-radius: 99%; // round toolbar buttons
  }
}
h2 {
  font-weight: 400;
}
.md-toolbar-tools-bottom {
  font-size: small;
  & :last-child {
    opacity: 0.8;
  }
}
md-toolbar:not(.md-hue-1),
.md-fab {
  fill: #fff;
}
md-sidenav {
  fill: #737373;
  ng-md-icon {
    position: relative;
    top: 5px; // adjust for svg viewbox
  }
}

.md-button.md-fab {
  line-height: 1;
}
