.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

*:focus {
  outline: none;
}

// @import "../../bower_components/angular-material/angular-material.scss";
@import "iconfont.scss";
@import "slidedown.scss";
@import "typography.scss";
@import "sidenav.scss";
@import "card.scss";
@import "toolbar.scss";
// bower:scss
// endbower

// Scaffolding
html, body {
  background: #eee;
  color: rgba(0,0,0,0.77);
}

// keep the dialog attached to top
.md-dialog-container {
  align-items: flex-start;
}

.logo-lg {
  background-image: url('../images/logo_white.svg');
  margin-top: 5px;
  background-size: contain;
  height: 35px;
  background-repeat: no-repeat;
}

.card-row {
  height: 329px;
  width: 100%;
  overflow: hidden;
}
