@import "../../bower_components/angular-material/angular-material.scss";
// @import "md-custom.scss";
// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html, body {
  background: #eee;
}

md-content {
  background-color: rgba(0,0,0, 0);
}

.text-right {
  text-align: right;
}

// no-border on search on toolbar
md-toolbar md-input-container .md-input,
md-toolbar md-input-container .md-input-focused.md-input, {
    border-width: 0 0 0 0;
}

// keep the dialog attached to top
.md-dialog-container {
  align-items: flex-start;
}

.logo-lg {
  background-image: url('../images/logo_white.svg');
  margin-top: 5px;
  background-size: contain;
  height: 35px;
  background-repeat: no-repeat;
}

/*
animation:*/

.slideDown.ng-hide {
  height:0;
  transition:height 0.35s ease;
  overflow:hidden;
  position:relative;
}

.slideDown {
  height:141px;
  transition:height 0.35s ease;
  overflow:hidden;
  position:relative;
}

.slideDown.ng-hide-remove,
.slideDown.ng-hide-add {
  /* remember, the .hg-hide class is added to element
  when the active class is added causing it to appear
  as hidden. Therefore set the styling to display=block
  so that the hide animation is visible */
  display:block!important;
}


.slideDown.ng-hide-add {
  animation-name: hide;
  -webkit-animation-name: hide;

  animation-duration: .5s;
  -webkit-animation-duration: .5s;

  animation-timing-function: ease-in;
  -webkit-animation-timing-function: ease-in;
}



.slideDown.ng-hide-remove {
  animation-name: show;
  -webkit-animation-name: show;

  animation-duration: .5s;
  -webkit-animation-duration: .5s;

  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
}

// Overrides to the material design scss


// Right sidebar list
md-list md-list-item.md-3-line .md-list-item-text p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}// Topbar
.logo-lg img {
  position: absolute;
}

// Card
md-card {
  min-width: 230px;
  max-width: 320px;
  background-color: #fff;
  h2:first-of-type {
    margin-top: 0;
  }
}

md-sidenav.md-locked-open {
  width: 256px;
  min-width: 256px;
  max-width: 256px;
}


// .md-sidenav-push-in {
//     // drawers
//     .md-sidenav-push-in-target {
//         transform: translate(0px);
//         // same as in md-sidenav.md-closed-add.md-closed-add-active, md-sidenav.md-closed-remove.md-closed-remove-active selector
//         transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
//     }
//     &.md-sidenav-left-open {
//         .md-sidenav-push-in-target {
//             transform: translate(0px);
//         }
//     }
//     &.md-sidenav-right-open {
//         .md-sidenav-push-in-target {
//             transform: translate(-232px);
//         }
//     }
// }
