<md-dialog aria-label="Metadata" class="dialog-cover" flex="100">
    <form name="">
        <md-content class="md-dialog-content">
            <div layout="row" layout-sm="column" layout-align="center start">
                <div flex-gt-sm="80">
                    <div layout layout-sm="column">
                        <md-input-container flex>
                            <label for="portfolioTitleInput" data-translate="PORTFOLIO_TITLE"></label> 
                            <input id="portfolioTitleInput">
                        </md-input-container>
                    </div>
                </div>
            </div>
            <div layout="row" layout-sm="column" layout-align="center start">
                <div flex-gt-sm="80">
                    <div layout layout-sm="column">
                        <md-input-container flex>
                            <label for="portfolioDescriptionTextarea" data-translate="PORTFOLIO_DESCRIPTION"></label> 
                            <textarea id="portfolioDescriptionTextarea"></textarea>
                        </md-input-container>
                    </div>
                </div>
            </div>
            <div layout="row" layout-sm="column" layout-align="center start">
                <div flex-gt-sm="80">
                    <div layout layout-sm="column">
                        <md-input-container flex>
                            <label for="portfolioEducationalSelect" data-translate="DETAIL_VIEW_EDUCATIONAL_CONTEXT"></label> 
                            <md-select data-ng-model="portfolio.educationalContext" id="portfolioEducationalSelect">
                                <md-option ng-value="educationalContext" ng-repeat="educationalContext in educationalContexts" data-translate="{{educationalContext.name.toUpperCase()}}">{{ educationalContext.name }}</md-option>
                            </md-select>  
                        </md-input-container>
                    </div>
                </div>
            </div>
            <div layout="row" layout-sm="column" layout-align="center">
                <div class="md-actions" flex-gt-sm="80">
                    <span flex></span>
                    <md-button ng-click="cancel()">
                        <span data-translate="BUTTON_CANCEL"></span>
                    </md-button>
                    <md-button class="md-primary">
                        <span data-translate="BUTTON_CREATE_PORTFOLIO"></span>
                    </md-button>
                </div>
            </div>
        </md-content>
    </form>
</md-dialog>
