<md-dialog aria-label="Metadata" flex="100">
  <md-toolbar class="md-accent">
    <div layout-align="center start"  layout="row" layout-sm="column">
    <div class="md-toolbar-tools" flex-gt-md="80" flex-gt-lg="66" flex>
      <h2>Lisa materjali põhiandmed</h2>
      <span flex></span>
      <md-button ng-click="cancel()" class="md-icon-button" aria-label="close">
        <ng-md-icon icon="close"></ng-md-icon>
      </md-button>
    </div>
    </div>
  </md-toolbar>
  <form>
    <div layout="row" layout-sm="column" layout-align="center start">
      <div  flex-gt-md="80" flex-gt-lg="66" flex>
        <md-content>
          <form name="">
            <div layout layout-sm="column">
              <md-input-container flex>
                <label>Pealkiri</label>
                <input placeholder="Näiteks: Bioloogia töövihik">
              </md-input-container>
              <div layout="column" layout-align="center center">
                <md-input-container>
                  <label>Keel</label>
                  <md-select data-ng-model="portfolio.language">
                    <md-option data-ng-repeat="language in portfolio.languages" value="{{language}}">{{language}}</md-option>
                  </md-select>
                </md-input-container>
              </div>
            </div>

            <md-input-container flex>
              <label>Kirjeldus (valikuline)</label>
              <textarea data-ng-model="portfolio.biography" columns="1" md-maxlength="150"></textarea>
            </md-input-container>
            <md-input-container flex>
              <md-chips data-ng-model="portfolio.tags" delete-button-label="Eemalda märksõna" delete-hint="Vajuta x märksõna kustutamiseks" secondary-placeholder="Lisa märksõna (valikuline)">
              </md-chips>
            </md-input-container>
            <div layout layout-sm="column">
              <md-input-container flex>
                <label>Autorid</label>
                <input data-ng-model="portfolio.author">
              </md-input-container>
              <md-input-container flex>
                <label>Kirjastaja</label>
                <input data-ng-model="portfolio.publisher">
              </md-input-container>
            </div>
          </form>
        </md-content>
      </div>
    </div>
    <div layout="row" layout-sm="column" layout-align="center start">
      <div class="md-actions" flex-gt-md="80" flex-gt-lg="66" flex layout="row" layout-sm="column">
        <span flex></span>
        <md-button ng-click="cancel()">
          <span data-translate="BUTTON_CANCEL"></span>
        </md-button>
        <md-button ng-click="forward('add')" class="md-primary">
          <ng-md-icon icon="arrow_forward"> </ng-md-icon> <span data-translate="BUTTON_CREATE_PORTFOLIO"></span>
        </md-button>
      </div>
    </div>
  </form>
</md-dialog>
