<md-dialog aria-label="Metadata">
  <form>
    <md-content class="md-padding">
      <h2>Lisa materjal</h2>
      <form name="userForm"> <div layout layout-sm="column">
        <md-input-container flex>
          <label>Pealkiri</label> <input ng-model="user.firstName" placeholder="Bioloogia töövihik">
        </md-input-container> <md-input-container flex>
          <label>Eesti keeles</label>
          <input ng-model="theMax">
        </md-input-container>
      </div>
      <md-input-container flex>
        <label>Kirjeldus (valikuline)</label>
        <textarea ng-model="user.biography" columns="1" md-maxlength="150"></textarea>
      </md-input-container>
      <div layout layout-sm="column">
        <md-input-container flex>
          <label>Märksõnad (komaga eraldatud, valikuline) </label>
          <input ng-model="user.city">
        </md-input-container>
        <md-input-container flex>
          <label>Autorid</label>
          <input ng-model="user.state">
        </md-input-container>
        <md-input-container flex>
          <label>Kirjastaja</label>
          <input ng-model="user.postalCode">
        </md-input-container> </div>

      </form>
    </md-content>
    <div class="md-actions" layout="row">
      <!-- <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" hide show-md>
      More on Wikipedia
    </md-button> -->
    <span flex></span>
    <md-button ng-click="cancel()">
      Katkesta
    </md-button>
    <md-button ng-click="cancel()" ng-href="#/add" class="md-primary">
      Edasi
    </md-button>
  </div>
</form>
</md-dialog>

<!-- <md-dialog aria-label="Mango (Fruit)">
  <md-content class="md-padding">
    <form name="userForm"> <div layout layout-sm="column">
      <md-input-container flex>
        <label>First Name</label> <input ng-model="user.firstName" placeholder="Placeholder text">
      </md-input-container> <md-input-container flex>
        <label>Last Name</label>
        <input ng-model="theMax">
      </md-input-container>
    </div>
    <md-input-container flex>
      <label>Address</label>
      <input ng-model="user.address">
    </md-input-container>
    <div layout layout-sm="column">
      <md-input-container flex>
        <label>City</label>
        <input ng-model="user.city">
      </md-input-container>
      <md-input-container flex>
        <label>State</label>
        <input ng-model="user.state">
      </md-input-container>
      <md-input-container flex>
        <label>Postal Code</label>
        <input ng-model="user.postalCode">
      </md-input-container> </div>
      <md-input-container flex>
        <label>Biography</label>
        <textarea ng-model="user.biography" columns="1" md-maxlength="150"></textarea>
      </md-input-container>
    </form>
  </md-content>
  <div class="md-actions" layout="row">
    <span flex></span>
    <md-button ng-click="answer(\'not useful\')"> Cancel </md-button>
    <md-button ng-click="answer(\'useful\')" class="md-primary"> Save </md-button>
  </div>
</md-dialog> -->
