 <md-card class="card-sm md-whiteframe-4dp" data-ng-click="navigateTo(portfolio)">
  <div class="card-cover">
    <img data-ng-if="material.hasPicture" data-ng-src="rest/portfolio/getPicture?portfolioId={{portfolio.id}}" class="md-card-image" />
    <div data-ng-if!="material.hasPicture" layout="row" layout-fill flex layout-align="center center">
      <md-icon class="icon-kind"></md-icon>
    </div>
    <div class="card-hover {{getType()}}" layout="row" layout-fill flex layout-align="center center">
      <div class="pick">
        <md-icon class="unchecked">radio_button_unchecked</md-icon>
        <md-icon class="checked">check_circle</md-icon>
      </div>
      <md-icon class="icon-kind">{{getType()}}</md-icon>
    </div>
  </div>
  <md-card-content>
    <h2 class="md-headline two-rows" data-ng-bind="portfolio.title"></h2>
    <span class="md-caption one-row" data-ng-bind="formatName(portfolio.creator.name)"></span>
    <span class="md-caption one-row" data-ng-bind="formatSurname(portfolio.creator.surname)"></span>
    <span class="md-caption one-row" data-ng-if="portfolio.created">{{ formatDate(portfolio.created) }}</div>
  </md-card-content>
  <md-card-footer>
  <md-divider></md-divider>
  <div class="md-actions" layout="row" layout-align="end center">
    <span class="md-caption">
      <md-icon>visibility</md-icon>
      <span data-ng-bind="portfolio.views"></span>
    </span>
  </div>
  </md-card-footer>
</md-card>
