<div id="portfolioBox{{portfolio.id}}" class="material">
    <a data-ng-click="savePortfolio(portfolio)" data-ng-href="#/portfolio?id={{portfolio.id}}">
        <div class="block">
            <div class="illustration">
                <figure>
                    <img data-ng-if="!portfolio.hasPicture" src="img/placeholder-portfolio-single.png" class="img-responsive">
                    <img data-ng-if="portfolio.hasPicture" data-ng-src="rest/portfolio/getPicture?portfolioId={{portfolio.id}}" class="img-responsive">
                    <img src="img/placeholder-material-empty.png" class="img-responsive img-empty">
                </figure>
            </div>
            <div class="description">
                <div data-ng-bind="portfolio.title" class="title"></div>
                <div class="authors text-nowrap">
                    <span data-ng-bind="formatName(portfolio.creator.name)"></span><span data-ng-bind="formatSurname(portfolio.creator.surname)"></span>
                </div>
                <div class="clearfix">
                    <div data-ng-if="portfolio.created" class="pull-left">{{ formatDate(portfolio.created) }}</div>
                    <div data-ng-if="!portfolio.created" class="pull-left"><span data-translate="UNKNOWN"></span></div>
                </div>
            </div>
            <div class="statistic text-right text-grey">
                <i class="fa fa-eye"></i> <span data-ng-bind="portfolio.views"></span>
            </div>
        </div>
    </a>
</div>