<div class="main">
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6" ng-bind-html="pageContent"></div>
            <div class="col-md-3">
                <div class="sidebar-module">
                    <h4>eKoolikott</h4>
                    <ul class="list-unstyled">
                        <li><a data-translate="ABOUT_PAGE_LINK_TITLE" href="#/about"></a></li>
                        <li><a data-translate="HELP_PAGE_LINK_TITLE" href="#/help"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>