<md-grid-tile ng-click="click()" ng-repeat="item in materials | filter: query | orderBy: materials">
  <md-card class="card-sm md-whiteframe-4dp" >
    <div class="card-cover {{item.kind}}">
      <div ng-if="item.image">
        <img src="{{item.image}}" class="md-card-image" al="Book cover">
      </div>
      <div ng-if!="item.image" layout="row" layout-fill flex layout-align="center center">
        <md-icon class="icon-kind">{{item.kind}}</md-icon>
      </div>
      <div class="card-hover {{item.kind}}" layout="row" layout-fill flex layout-align="center center">
        <div class="pick">
          <!-- <md-checkbox aria-label="Checkbox">
          </md-checkbox> -->
          <md-icon class="unchecked">radio_button_unchecked</md-icon>
          <md-icon class="checked">check_circle</md-icon>
        </div>
        <md-icon class="icon-kind">{{item.kind}}</md-icon>
      </div>
    </div>
    <md-card-content>
      <h2 class="md-headline two-rows">{{item.what}}</h2>
      <p class="md-caption one-row">{{item.who}}</p>
    </md-card-content>
    <md-divider></md-divider>
    <div class="md-actions" layout="row" >
      <span flex></span>
      <span class="md-caption"><md-icon>visibility</md-icon> 114</span>
    </div>
  </md-card>
</md-grid-tile>
