<md-toolbar class="md-accent md-hue-2">
  <h1 class="inset md-subhead">  <md-button class="md-icon-button hide-gt-md" ng-click="toggleLeft()" >
      <md-icon class="md-48">arrow_backward</md-icon>
    </md-button> Materjali koostamine</h1>
</md-toolbar>
<md-list >
  <md-item ng-repeat="item in menu">
    <a>
      <md-item-content md-ink-ripple layout="row" layout-align="start center">
        <div class="inset">
          {{item.title}}
        </div>
      </md-item-content>
    </a>
  </md-item>
</md-list>
