<md-sidenav layout="column" layout-align="center start" layout-padding class="md-sidenav-right" md-component-id="right" md-is-locked-open="$mdMedia('gt-sm')">
  <md-list class="md-tall">
    <span flex></span>
    <div>Soovitused</div>
    <md-divider></md-divider>
    <md-subheader>Proto sisulehed</md-subheader>
    <md-item ng-repeat="item in links" md-ink-ripple>
      <a class="md-button md-default-theme" href="{{item.href}}" aria-hidden="false">
        <md-item-content layout="column" >
        <span class="ng-scope">{{item.name}}</span>
        <div class="md-ripple-container"></div>
        </md-item-content>
      </a>
      <!-- <a href="{{item.href}}">
        <md-item-content layout="column" layout-align="start center">
          <div class="inset" >
            {{item.name}}
          </div>
        </md-item-content>
      </a> -->
    </md-item>
    <md-item>
  </md-list>
</md-sidenav>
